@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

header{
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
}

body{
  background-image: url(../img/pattern.jpg);
  margin: 0px;
}

nav{
  display: flex;
  justify-content: space-between;
}

ul{
  list-style: none;
}

li{
  display: inline;
  margin: 5px;
}

a{
  text-decoration: none;
}

section{
  background-color: white;
  margin: 60px 150px 30px;
  padding: 20px;
}

article{
  border-bottom: 2px solid;
  padding-top: 20px;
}

h1{
  text-align: center;
  font-family: 'Ms Madi',
  cursive;
}

footer{
  background-color: black;
  padding: 5px;
}

h5{
  color: white;
  text-align: center;
}
